@tailwind base;
@tailwind components;
@tailwind utilities;

.toolbar {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0;
  min-height: fit-content;
  border-radius: 2rem;
}

.App {
  height: fit-content;
  border-radius: 2rem;
}

